<div class="full-page login-page">
	<div class="content">
		<div class="container">
			<div class="row mb-4">
				<div class="col-md-4">
					<label class="form-label">Identificador de la plantilla</label>
					<input type="email" class="form-control" [(ngModel)]="nameTemplate">
				</div>
			</div>
			<div class="d-flex justify-content-between mb-2">
				<app-nazz-input-file [sizeMax]="50000000" [type]="['html']" (fileSelected)="fileSelected($event)"
					(onRead)="onReadFile($event)" [key]="'file'"></app-nazz-input-file>
				<button class="btn btn-secondary" (click)="agregarAttr()" [disabled]="!contentTemplate.length">Agregar atributo</button>
			</div>
			<div class="row" *ngFor="let attr of attrs">
				<div class="col-md-4">
					<label class="form-label">Nombre</label>
					<input type="email" class="form-control" [(ngModel)]="attr.name" (ngModelChange)="modelChanged(attr)($event)">
				</div>
				<div class="col-md-4">
					<label>Tipo</label>
					<select class="custom-select" [(ngModel)]="attr.type">
						<option *ngFor="let type of types" [value]="type.value" style="color: #525f7f;">{{type.value}}</option>
					</select>
				</div>
				<div class="d-flex flex-column col-md-2">
					<label>&nbsp;</label>
					<button class="btn btn-secondary btn-sm" (click)="borrarAttr(attr.id)">X</button>
				</div>
				<div class="col-md-12" style="color: rgba(255, 60, 0, 0.849); font-size: .8rem;">
					{{attr.error}}
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-md-12">
					<div class="bg-light p-4 rounded">
						<label>Contenido de la plantilla</label>
						<pre style="color: #525f7f;">{{contentTemplate}}</pre>
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-md-12">
					<button class="btn btn-primary" [disabled]="!schemaValid" (click)="createTemplate()">Crear plantilla</button>
				</div>
			</div>
		</div>
	</div>
</div>