<div class="full-page login-page">
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-md-3" *ngFor="let template of templates">
					<div class="card">
						<div class="card-body">
						  <h5 class="card-title">{{template.name}}</h5>
						  <a class="card-link" (click)="verDetalles(template.id)" style="cursor: pointer;">Ver detalles</a>
						</div>
					  </div>
				</div>
			</div>
		</div>
    </div>
</div>