<div class="full-page login-page">
	<div class="content">
		<div class="container">
			<div class="row mb-4">
				<div class="col-md-4">
					<label class="form-label">Identificador de la plantilla</label>
					<input type="text" class="form-control" [(ngModel)]="template.name" readonly>
				</div>
			</div>
			<div class="row" *ngFor="let attr of template.attrs">
				<div class="col-md-4">
					<label class="form-label">Nombre</label>
					<input type="email" class="form-control" [(ngModel)]="attr.name" readonly>
				</div>
				<div class="col-md-4">
					<label class="form-label">Value</label>
					<input type="email" class="form-control" [(ngModel)]="attr.value" (ngModelChange)="modelChanged(attr)($event)">
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-md-12">
					<div class="bg-light p-4 rounded">
						<label>Contenido de la plantilla</label>
						<pre style="color: #525f7f;">{{template._contentParse}}</pre>
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-md-12">
					<button class="btn btn-primary" [disabled]="!schemaValid" (click)="renderTemplate()">Renderizar plantilla</button>
				</div>
			</div>
		</div>
	</div>
</div>