/* You can add global styles to this file, and also import other style files */
.modal {
  background: rgba(0, 0, 0, .6) !important;
}

.strength-meter:after, .strength-meter:before {
  border-color: #27293d !important;
}

.input-group.input-group-focus .input-group-prepend{
  border-color: #e14eca !important;
}

.input-group.is-invalid .input-group-text {
  border-color: #FF8D72 !important;
}

.input-group.input-group-focus .input-group-text {
  border-color: #FD5D93 !important;
}